src/main/mule/secure-properties.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	
	<flow name="secure-propertiesFlow" doc:id="0760ffbb-ecd1-4568-8f7a-874d5bf62137" >
		<http:listener doc:name="Listener" doc:id="9620c0fb-80a8-4df4-a6fb-80602168e212" config-ref="HTTP_Listener_config" path="test"/>
		<set-payload value="Hello Mule" doc:name="Set Payload" doc:id="57cccb68-3dcd-4d21-9008-f45d2da06b76" />
		<logger level="INFO" doc:name="Logger" doc:id="50a52bc3-4c81-4da0-8070-bc35d58505b4" message="#[output application/java&#10;---&#10;&quot;username :: &quot; ++ Mule::p('secure::username') &#10;++ &quot;-&quot; ++ &#10;&quot;password :: &quot; ++ Mule::p('secure::password')]"/>
	</flow>
</mule>
